/* index */

body {
    background-color: #b5d5ed;
}

/* Header con imgen de fondo, titulo e imagen perfil  index*/

.pplindex {
    background-image: url(../Img/img3.png);
    background-size: cover;
}

#perfil {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#textoppl{
    font-family: 'Montserrat', sans-serif;
    color: #2b5583;
    background-color:white;
    text-align: center;
}

/* Imagenes para linkear las otras paginas */

.anexos {
    position: relative;
    width: 230px;
    height: 230px;
    overflow: hidden;
    border-radius: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* footer = comun en todas las paginas*/

.socialmedia{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color:#2b5583;
    background-color: #ffff;
}

i{
    color:#2b5583;
    background-color: #ffff;
}

/* header comun para las paginas sobremi y curriculum */

.fondoanexos {
background-color: #ffff;
}

.titulospags {
    font-family: 'Montserrat', sans-serif;
    color: #2b5583;
    background-color:white;
    text-align: center
}

.fondoseccion{
    background-color: #ffff;
}

h4{  
    font-family: 'Montserrat', sans-serif;
    color: #2b5583;
    background-color:white;
    text-align: left;
    position: relative;
    display:flex;
}

.texto {
    font-family: 'Montserrat', sans-serif;
    color: #2b5583;
    background-color:white;
    text-align:justify;
    position: relative;
    display:flex;
}

.imagenesmuestra { 
    width: 200px;
    height: 200px;
    border-radius: 50px;
    background-color: #ffff;
    text-align: center;
    float:left;
}

/* Curriculum vitae */

.information {
    font-family: 'Montserrat', sans-serif;
    color: #2b5583;
    background-color:white;
    text-align:justify;
    position: relative;
    display:flex;
}

.negrita_cursiva { 
    font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-size: 16px;
        font-weight: bold;
    }

.negrita { 
    font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-size: 16px;
            font-weight: bold;
            font-style: normal
        }